@media screen and (max-width: 740px) 	{
	body { font-size: 14px; width: 98%; padding: 1%; }
	.holder {width: 98%; padding: 1%; float: left;}
	.grid { position: relative; width: 100%; margin: 0 auto; padding: 0; margin-top: 5px;}	
	.grid .cetiri.kol {width: 100%; float: left; text-align: left; margin-bottom: 2%; }
	.grid .dvanest.kol {width: 100%; float: right;background: #212121; }
	.main {width: 98%; padding: 1%;}
	#dugme {width: 64px; height: 64px;}
	.dugme {width: 64px; height: 64px;}
	.dugme .maska,.dugme .sadrzaj {width: 64px; height: 64px;}
	.dugme img {display: block; position: relative; width: 64px; height: 64px;}
}

@media screen and (max-width: 480px) {
	body { font-size: 11px; width: 98%; padding: 1%; }
	#dugme {width: 32px; height: 32px;}
	.dugme {width: 32px; height: 32px; font-size: 9px;}
	.dugme .maska,.dugme .sadrzaj {width: 32px; height: 32px;}
	.dugme img {display: block; position: relative; width: 32px; height: 32px;}
}


@media screen and (max-width: 360px) {
	
}
