html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, 
nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; 
font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

body {background-image: url("back.jpg"); margin: 0 auto; width: 800px; font-family: Consolas, monaco, monospace; 
font-size: 100%; text-align: left; margin-top: 1%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;}

.holder {width: 800px; padding: 0; float: left;}

header {width: 800px; height: auto; float: left; margin-bottom: 10px;}

b {text-shadow: 0.2em 0.2em 0.05em #000; font-size: 16px; color: yellow;}

a { text-decoration: none; color: #17f118; text-shadow: 0.1em 0.1em 0.02em #000;}

a:hover {color: yellow;}

article { height: auto; float: left;}

article h2 { font-size: 1.1em;}

#dugme {float: right; width: 99px; height: 99px;  border-left: 1px solid #313131; border-top: 1px solid #313131; 
opacity:0.7;  filter:alpha(opacity=300); background-color: #212121; float: left;}

#dugme:hover {opacity:0.7;  filter:alpha(opacity=300); background-color: #313131; }

footer {width: 100%; float: left; color: palegoldenrod; text-shadow: 2px 5px 15px black; text-align: right; margin-top: 4%;}

footer img {width: 40px; height: 40px;float: left; padding-right: 1%;}

footer p {font-size: 13px; width: 100%;}

pre {white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap;  
white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word;}

section {width: 100%; float: left; }

.wsi  p {
float: left; 
width: 98%; padding: 1%;
color: lightgreen;
}


