* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/20px sans-serif;
  width: 100%;
  margin: 0 auto;
  background: #313131;
  color: #fff;
}
article,
section,
header,
footer,
nav,
legend {
  display: block;
}
footer {
  width: 96%;
  padding: 2%;
  float: left;
  margin: 0;
}
a {
  color: #17f118;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid orangered;
}
h3 {
  width: 98%;
  padding: 1%;
  float: left;
  background: #111;
  color: yellow;
  text-align: center;
}

.content {
  background-color: #313131;
  width: 98%;
  padding: 1%;
  margin: 0;
  clear: both;
  float: left;
  overflow: hidden;
  position: relative;
}
.content2 {
  background-color: #212121;
  width: 98%;
  padding: 1%;
  margin: 0;
  clear: both;
  float: left;
}

#dw {
  float: right;
  margin-right: 2%;
  background: orangered;
  color: #fff;
  font-weight: bold;
  padding: 0.5em; 
  order-bottom: 1px solid #fff;
}
#dw:hover { background: #17f118; }

.komande {
  width: 98%;
  padding: 1%;
  float: left;
  margin: 0;
}
.komande ul { width: 96%; }
.komande li {
  background: #111;
  display: inline;
  float: left;
  padding: 0.5%;
  margin: 2px;}
.komande ul a { color: #17f118; }

.n0d3 {
  width: 48%;
  padding: 1%;
  float: left;
  margin: 0;
}
.n0de ul {
  width: 100%;
  list-style: none;
  float: left;
}
.node ul ul {
  width: 100%;
  float: left;
  list-style: none;
}
.n0d3 ul li {
  list-style-type: none;
  text-align: center;
  border-bottom: 1px solid #17f118;
  width: 98%;
  padding: 1%;
  background: #111;
}

.engine_up {
  width: 48%;
  padding: 1%;
  float: right;
  margin: 0;
}

@media screen and (max-width: 795px) {
  body { width: 95%; }
  .content {
    width: 100%;
    float: left;
  }
  .content2 {
    width: 100%;
    float: left;
  }
  .n0d3 {
    width: 96%;
    padding: 2%;
    float: left;
    margin: 0;
  }
  .engine_up {
    width: 96%;
    padding: 2%;
    float: left;
    margin: 0;
  }
}
